node_modules
dist
build
.expo
.expo-shared
web-build
*.log
.env
.env.local
.env.*.local
apps/web/.env
apps/mobile/.env
apps/api/.env
*.pem
serviceAccount*.json
*-firebase-adminsdk-*.json
google-service-account.json
apps/mobile/google-service-account.json
emulator-data
.firebase
coverage
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo
ios
android
.turbo
